doctype html
html(lang="ko")
  head
    title #{pageTitle} | Utube
  body
    header
      nav
        ul
          li
            a(href="/") Home
          li
            a(href="/videos/upload") Upload Video
          li
            a(href="/search") Search
          if locals.loggedIn
            li
              a(href="/logout") Logout
          else
            li 
              a(href="/login") Login
            li
              a(href="/join") Join
      h1=pageTitle
    main
      block content
  include partials/footer
