extends base

block content
  h1 Change Title of Video
  form(method="POST")
    input(name="title", type="text", placeholder="Title", maxlength=30, value=video.title, required)
    input(name="description", type="text", placeholder="Description", minlength=10, value=video.description, required)
    input(name="hashtags", type="text", placeholder="Hashtags divided with comma", value=video.hashtags.join(), required)
    input(value="save", type="submit")
