extends base

block content
  form(method="POST")
    input(name="email", type="email", placeholder="Email", value=user.email, required)
    input(name="username", type="text", placeholder="Username", value=user.username, required)
    input(name="location", type="text", placeholder="Location" value=user.location)
    input(type="submit", value="Update Profile")
